<!-- footer start from here -->
<footer class="at-main-footer at-over-layer-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="at-footer-about-col at-col-default-mar">
          <div class="at-footer-logo">
            <img src="assets/images/footer-logo.png" alt="">
          </div>
          <hr>
          <p>
            <i class="icofont icofont-ui-map"></i>
            Pueblo Blanco <br>
            Puente 3 - Abel Gilbert S/N y Sebastián de Benalcázar.<br>
            La Armenia, Valle de los Chillos, Quito.</p><br>
          <p>
            <i class="icofont icofont-ui-cell-phone"></i>
            02 - 38 10 723 <br>
            Ventas: ext. 111</p><br>
          <p>
            <i class="icofont icofont-email"></i>
            info@puebloblanco.org
          </p>

        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="at-footer-link-col at-col-default-mar">
          <h4>ENLACES</h4>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <ul>
            <li><a routerLink="proyecto">PROYECTOS</a></li>
            <li><a routerLink="about">¿QUIÉNES SOMOS?</a></li>
            <li><a routerLink="franquicia">FRANQUICIAS</a></li>
            <li><a routerLink="cliente">CLIENTES</a></li>
            <li><a routerLink="contact">CONTACTOS</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="at-footer-Tag-col at-col-default-mar">
          <h4>Franquicias</h4>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <div class="at-tag-group clearfix">
            <a class="hvr-bounce-to-right at-bg-hvr" routerLink="home">PUEBLO BLANCO</a>
            <a class="hvr-bounce-to-right" routerLink="home">FARMYARD S.A.</a>
            <a class="hvr-bounce-to-right" routerLink="home">SIIE</a>
            <a class="hvr-bounce-to-right" routerLink="home">Constructora CFN</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="at-footer-gallery-col at-col-default-mar">
          <h4>Galeria</h4>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <div class="at-gallery clearfix">
            <!--portfolio single img end-->
            <ul>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/1.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/2.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/3.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/4.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/5.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/6.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/7.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/8.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery"><img src="assets/images/gallery/9.jpg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->

<!-- Copyright start from here -->
<section class="at-copyright">
  <div class="container">
    <div class="row">
      <p>Copyright © {{anio}} Grupo Empresarial Pueblo Blanco | <a href="http://dte-ecuador.org/" target="_blank">DT MOWED</a> All Rights Reserved</p>
    </div>
  </div>
</section>
<!-- Copyright end -->