<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Testimonios</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->

<!-- Testimonial start from here -->
<section class="at-testimonial-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-single-testimonial">
          <div class="at-test-person">
            <img src="/assets/images/user.png" alt="">
          </div>
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="at-single-testimonial">
          <div class="at-test-person">
            <img src="/assets/images/user.png" alt="">
          </div>
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="at-single-testimonial">
          <div class="at-test-person">
            <img src="/assets/images/user.png" alt="">
          </div>
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="at-single-testimonial">
          <div class="at-test-person">
            <img src="/assets/images/user.png" alt="">
          </div>
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="at-single-testimonial">
          <div class="at-test-person">
            <img src="/assets/images/user.png" alt="">
          </div>
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial End -->