<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Franquicias</h2>
          <p><a href="index-one.html">Inicio</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Fanquicias</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->

<!-- Agents start from here -->
<section class="at-agents-sec at-agents-sec-three">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="at-agent-col">
          <div class="at-agent-img">
            <img src="assets/images/brand/1.png" alt="">
            <br><br>
            <div class="at-agent-social">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a routerLink="/contact"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <div class="at-agent-call">
                <p>099 529 9449</p>
              </div>
            </div>
          </div>
          <div class="at-agent-info">
            <h4><a href="agents-details.html">	MyKasa </a></h4>
            <p>PORTOVIEJO OE-151 Y PATRIA (PUENTE DEL GUAMBRA) </p><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="at-agent-col">
          <div class="at-agent-img">
            <img src="assets/images/brand/2.png" alt="">
            <br><br>
            <div class="at-agent-social">
              <a href="https://www.facebook.com/QuickHome-SA-717367661962938/?view_public_for=717367661962938"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a href="www.zioninmobiliaria.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <div class="at-agent-call">
                <p>022 503 796 <br> 099 567 6110</p>
              </div>
            </div>
          </div>
          <div class="at-agent-info">
            <h4><a href="agents-details.html">Zion Inmobiliaria</a></h4>
            <p>Reina Victoria N25-33 y Colón, Edificio Banco de Guayaquil. Oficina 706A</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="at-agent-col">
          <div class="at-agent-img">
            <img src="assets/images/brand/3.png" alt="">
            <br><br>
            <div class="at-agent-social">
              <a href="https://www.facebook.com/QuickHome-SA-717367661962938/?view_public_for=717367661962938"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a routerLink="/contact"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <div class="at-agent-call">
                <p>098 338 6381 <br> 099 871 7740</p>
              </div>
            </div>
          </div>
          <div class="at-agent-info">
            <h4><a href="agents-details.html">Quick Home</a></h4>
            <p>Solanda sector 3 Lorenzo Flores S26-19 y Domingo Velandía </p><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="at-agent-col">
          <div class="at-agent-img">
            <img src="assets/images/brand/4.png" alt="">
            <br><br>
            <div class="at-agent-social">
              <a href="https://www.facebook.com/Puebloblancovida/ "><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a href="www.puebloblanco.net" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <div class="at-agent-call">
                <p>098 181 5029 <br> 023810723 EXT. 110</p>
              </div>
            </div>
          </div>
          <div class="at-agent-info">
            <h4><a href="agents-details.html">	PUEBLO BLANCO </a></h4>
            <p>Abel Gilbert S/N Y Sebastián De Benalcázar (Puente 3, Armenia)</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="at-agent-col">
          <div class="at-agent-img">
            <img src="assets/images/brand/5.png" alt="">
            <br><br>
            <div class="at-agent-social">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 <a routerLink="/contact"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <div class="at-agent-call">
                <p>098 780 4262</p>
              </div>
            </div>
          </div>
          <div class="at-agent-info">
            <h4><a href="agents-details.html">	DATA NERD </a></h4>
            <p>!Inteligencia de negocios¡</p><br><br>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Agents End -->