<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Proyectos</h2>
          <p><a href="index-one.html">Inicio</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Nuestros Proyectos</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->
<!-- Property start from here -->
<section class="at-property-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="at-sec-title at-sec-title-left">
           <h2>Buscar  </h2>
            <select class="form-control">
              <option>Seleccione Proyecto</option>
              <option value="1">MYKASA</option>
              <option value="2">ZION INMOBILIARIA</option>
              <option value="3">QUICK HOME</option>
              <option value="3">PUEBLO BLANCO</option>
              <option value="3">DATA NERD</option>
            </select>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <p>Entendemos que trabajamos por ayudar a cumplir con el sueño de miles de familias de obtener su primera casa. </p>
        </div>
      </div>
    </div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow">
          <div class="at-property-img">
            <img src="assets/images/property/1.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-250">
          <div class="at-property-img">
            <img src="assets/images/property/2.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">En Renta</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
          <div class="at-property-img">
            <img src="assets/images/property/3.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/property/4.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">En Renta</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1000">
          <div class="at-property-img">
            <img src="assets/images/property/5.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/property/6.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">En Renta</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Property End -->
<app-boletin></app-boletin>