<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Proyectos</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->
<!-- Property start from here -->
<section class="at-property-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="at-sec-title at-sec-title-left">
          <h2>ALTOS <span> DE PUEBLO BLANCO</span></h2>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <p>Está ubicado en el valle más verde
            de la ciudad, a 200 metros del Parque Metropolitano de la Armenia.
            A tan sólo 20 minutos del centro de Quito y a 10 minutos
            del centro comercial San Luis, en San Rafael. El conjunto
            habitacional se encuentra en zona segura, de alta plusvalía,
            en un sector tranquilo, seguro y con clima agradable.
            La ubicación estratégica le permitirá disfrutar de la
            combinación entre las comodidades de lo urbano con la
            tranquilidad, armonía y belleza de lo rural.
            <br>
            ¡Lo invitamos a disfrutar del aire puro del bosque del
            Parque Metropolitano de La Armenia, sin dejar la cercanía
            de la ciudad!</p>
        </div>
      </div>
      <div class="col-md-6">
          <img src="assets/images/property/logo.jpg" alt="" style="width: 300px; height: 150px">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow">
          <div class="at-property-img">
            <img src="assets/images/property/1.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-250">
          <div class="at-property-img">
            <img src="assets/images/property/2.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
          <div class="at-property-img">
            <img src="assets/images/property/4.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/property/5.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1000">
          <div class="at-property-img">
            <img src="assets/images/property/6.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/property/7.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/property/8.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/property/9.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/property/10.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">22 CASAS (VENDIDAS) MÁS 10 DEPARTAMENTOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> LA ARMENIA - ABEL GILBERT S/N Y SEBASTIÁN DE BENALCÁZAR</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Property End -->
<app-boletin></app-boletin>