<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Contactos</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->

<!-- Contact Start from here -->
<section class="at-contact-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-contact-form at-col-default-mar">
          <div id="form-messages"></div>
          <form id="ajax-contact" method="post" action="php/contact.php">
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto" required>
            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Mensaje" required></textarea>
            <button class="btn btn-default hvr-bounce-to-right" type="submit">Enviar Mensaje</button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="at-info-box at-col-default-mar">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>info@puebloblanco.org</p>
        </div>
        <div class="at-info-box at-col-default-mar">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p>02 - 38 10 723 <br>
            Ventas: ext. 111</p>
        </div>
        <div class="at-info-box at-col-default-mar">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>Puente 3 - Abel Gilbert S/N y Sebastián de Benalcázar.
            <br>
            La Armenia, Valle de los Chillos, Quito</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Contact end-->

<div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=La%20Armenia%2C%20Valle%20de%20los%20Chillos%2C%20Quito+(Grupo%20Empresarial%20Pueblo%20Blanco)&ie=UTF8&t=&z=13&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/">Crear Mapa Google</a> by <a href="https://www.mapsdirections.info/">Mapa España</a></iframe></div><br />