<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Proyectos</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->
<!-- Property start from here -->
<section class="at-property-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="at-sec-title at-sec-title-left">
          <h2>PUERTO <span>MONT</span></h2>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <p>UBICACIÓN: CHILLOGALLO - Barrio La Libertad,
            Av. Carlos Freire Zaldumbide (El tránsito) –
            Camino hacia la Libertad <br>
              BREVE DESCRIPCIÓN: CASAS Y DEPARTAMENTOS - 2,3,4 DORMITORIOS <br>
            ESTADO DEL PROYECTO: EN PLANIFICACIÓN Y DESARROLLO</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/mont/logo.jpg" alt="" style="width: 300px; height: 150px">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow">
          <div class="at-property-img">
            <img src="assets/images/mont/1.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">CASAS Y DEPARTAMENTOS - 2,3,4 DORMITORIOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Av. Carlos Freire Zaldumbide (El tránsito) – Camino Hacia La Libertad </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-250">
          <div class="at-property-img">
            <img src="assets/images/mont/2.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">CASAS Y DEPARTAMENTOS - 2,3,4 DORMITORIOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Av. Carlos Freire Zaldumbide (El tránsito) – Camino Hacia La Libertad</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
          <div class="at-property-img">
            <img src="assets/images/mont/3.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">CASAS Y DEPARTAMENTOS - 2,3,4 DORMITORIOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Carlos Freire Zaldumbide (El tránsito) – Camino hacia la Libertad </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/mont/4.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">CASAS Y DEPARTAMENTOS - 2,3,4 DORMITORIOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Carlos Freire Zaldumbide (El tránsito) – Camino hacia la Libertad </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1000">
          <div class="at-property-img">
            <img src="assets/images/mont/5.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">CASAS Y DEPARTAMENTOS - 2,3,4 DORMITORIOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Carlos Freire Zaldumbide (El tránsito) – Camino hacia la Libertad </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/mont/6.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$72,000.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">CASAS Y DEPARTAMENTOS - 2,3,4 DORMITORIOS</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Carlos Freire Zaldumbide (El tránsito) – Camino hacia la Libertad </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Property End -->
<app-boletin></app-boletin>
