
<!-- Newsletter start from here -->
<section class="at-newsletter-sec jarallax at-over-layer-black">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>SUSCRIBIRSE AL  <span>BOLETÍN</span></h2>
        <p>Entérate de nuestras opciones de financiamento y reserva la casa que más te guste ¡AHORA!</p>
        <form class="input-group">
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Enter Your Email">
          </div>
          <span class="input-group-btn">
                          <button class="btn btn-default at-sub-btn hvr-bounce-to-right" type="submit">
                            SUSCRIBIRSE
                          </button>
                        </span>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter end -->

<!-- Brand start from here -->
<section class="at-brand-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="brand-carousel" data-slick='{"slidesToShow": 6, "slidesToScroll": 1}'>
          <div class="item"  class="col-md-2">
            <a routerLink="/contact"><img src="assets/images/brand/1.png" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a href="www.zioninmobiliaria.com" target="_blank"><img src="assets/images/brand/2.png" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a routerLink="/contact"><img src="assets/images/brand/3.png" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a href="www.puebloblanco.net" target="_blank"><img src="assets/images/brand/4.png" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a routerLink="/contact"><img src="assets/images/brand/5.png" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Brand End -->