<!-- Main Search start from here -->
<section class="main-search-field main-search-field-two main-search-field-three at-over-layer-black" id="water-animation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="at-col-default-mar clearfix">
          <h1 id="text-animation">La mejor opción a tu alcance.</h1>
        </div>
      </div>
    </div>
    <div class="at-search-box">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Sector</option>
              <option value="1">Norte</option>
              <option value="2">Centro</option>
              <option value="3">Sur</option>
              <option value="3">Valle de los Chillos</option>
              <option value="3">Cumbaya</option>
              <option value="3">Otros</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select class="div-toggle" data-target=".my-info-1">
              <option value="0" selected>Interés de vivienda</option>
              <option value="1">Casa</option>
              <option value="2">Departamento</option>
              <option value="3">Terrerno</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="at-input" type="text" name="min-area" placeholder="M2 Mínimo">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="at-input" type="text" name="max-area" placeholder="M2 Máximo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Habitación</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Baño</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select class="form-control">
              <option value="0" selected>Costo entre</option>
              <option value="1">30000 - 70000</option>
              <option value="2">70000 - 100000</option>
              <option value="3">100000 - 1500000</option>
              <option value="3">mas de 1500000</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <button class="btn btn-default hvr-bounce-to-right" type="submit">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Main Search End -->
<!-- About start from here -->
<section class="at-about-sec-two">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar animated fadeInLeftShort slow delay-250">
          <img src="assets/images/about/2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar">
          <div class="at-about-title">
            <h1>GRUPO EMPRESARIAL<br> <span>PUEBLO BLANCO</span></h1>
            <h6>Visión</h6>
          </div>
          <p>"Somos un equipo de personas comprometidas con el florecimiento humano"</p><br>
          <p>Conformar una organización estable que brinde oportunidades de acceso de vivienda para las familias latinoamericanas.</p>
          <br>
          <p>Contribuir al desarrollo integral de las personas que conforman nuestro público interno así como externo. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->

<!-- Call start from here -->
<section class="at-Call-sec jarallax at-over-layer-black">
  <div class="at-Call-both-side clearfix">
    <div class="at-Call-left">
      <div class="at-inside-Call">
        <h5>RESERVA TU</h5>
        <h2>APARTAMENTO O CASA</h2>
      </div>
    </div>
    <div class="at-Call-right">
      <div class="at-Call-right-inside">
        <h2 style="color: #2b2b2b" >ESTAMOS LISTOS PARA RECIBIR SU LLAMADA</h2>
        <div class="at-short-line"></div>
        <h3 style="color: #2b2b2b" >LLAMENOS : <span>023810723 | 0981815029</span></h3>
      </div>
    </div>
  </div>
</section>
<!-- Call End -->

<!-- Property start from here -->
<section class="at-property-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="at-sec-title at-sec-title-left">
          <h2>Nuevos <span>Proyectos</span></h2>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <p>Entendemos que trabajamos por ayudar a cumplir con el sueño de miles de familias de obtener su primera casa. </p>
        </div>
      </div>
    </div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow">
          <div class="at-property-img">
            <img src="assets/images/property/1.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="proyecto" role="button">Ver Detalles</a>
            <h4>En Venta</h4>
            <h5>$7,200.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-250">
          <div class="at-property-img">
            <img src="assets/images/property/2.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="proyecto" role="button">Ver Detalles</a>
            <h4 class="at-bg-black">En Renta</h4>
            <h5 class="at-bg-black">$7,200.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
          <div class="at-property-img">
            <img src="assets/images/property/3.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="proyecto" role="button">Ver Detalles</a>
            <h4>En Venta</h4>
            <h5>$7,200.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/property/4.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="proyecto" role="button">Ver Detalles</a>
            <h4 class="at-bg-black">En Renta</h4>
            <h5 class="at-bg-black">$7,200.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1000">
          <div class="at-property-img">
            <img src="assets/images/property/5.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="proyecto" role="button">Ver Detalles</a>
            <h4>En Venta</h4>
            <h5>$7,200.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/property/6.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="proyecto" role="button">Ver Detalles</a>
            <h4 class="at-bg-black">En Renta</h4>
            <h5 class="at-bg-black">$7,200.00</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 m2</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">LEGAZPI - VERDE NOVA</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7,959.82 m2 SANGOLQUÍ, CONSTRUCTORA CFN</p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-default hvr-bounce-to-right" ><a routerLink="proyecto">Mas Propiedades</a></button>
      </div>
    </div>
  </div>
</section>
<!-- Property End -->
<app-boletin></app-boletin>