<!-- Main Search start from here -->
<section class="main-search-field main-search-field-two main-search-field-three at-over-layer-black" id="water-animation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="at-col-default-mar clearfix">
          <h1 id="text-animation">La mejor opción a tu alcance.</h1>
        </div>
      </div>
    </div>
    <div class="at-search-box">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Ubicación</option>
              <option value="1">Alabama</option>
              <option value="2">Alaska</option>
              <option value="3">California</option>
              <option value="4">Colorado</option>
              <option value="5">Delaware</option>
              <option value="6">District of Columbia</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select class="div-toggle" data-target=".my-info-1">
              <option value="0" data-show=".acitveon" selected>Estado de la propiedad</option>
              <option value="1" data-show=".sale">For Sale</option>
              <option value="2" data-show=".rent">For Rent</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="at-input" type="text" name="min-area" placeholder="Squre Fit Min">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="at-input" type="text" name="max-area" placeholder="Squre Fit Max">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Habitación</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Baño</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <div class="at-pricing-range">
              <div class="my-info-1">
                <h4>At first select Property Status</h4>
                <div class="acitveon sale hide">
                  <label>Price : </label>
                  <input type="text" class="amount at-input-price" readonly>
                  <div class="slider-range"></div>
                </div>
                <div class="rent hide">
                  <label>Price : </label>
                  <input type="text" class="amount-two at-input-price" readonly>
                  <div class="slider-range-two"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <button class="btn btn-default hvr-bounce-to-right" type="submit">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Main Search End -->
<!-- About start from here -->
<section class="at-about-sec-two">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar animated fadeInLeftShort slow delay-250">
          <img src="assets/images/about/2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar">
          <div class="at-about-title">
            <h1>GRUPO EMPRESARIAL<br> <span>PUEBLO BLANCO</span></h1>
            <h6>Visión</h6>
          </div>
          <p>"Somos un equipo de personas comprometidas con el florecimiento humano"</p><br>
          <p>Conformar una organización estable que brinde oportunidades de acceso de vivienda para las familias latinoamericanas.</p>
          <br>
          <p>Contribuir al desarrollo integral de las personas que conforman nuestro público interno así como externo. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->

<!-- Call start from here -->
<section class="at-Call-sec jarallax at-over-layer-black">
  <div class="at-Call-both-side clearfix">
    <div class="at-Call-left">
      <div class="at-inside-Call">
        <h5>RESERVA TU</h5>
        <h2>APARTAMENTO O CASA</h2>
      </div>
    </div>
    <div class="at-Call-right">
      <div class="at-Call-right-inside">
        <h2>ESTAMOS LISTOS PARA RECIBIR SU LLAMADA</h2>
        <div class="at-short-line"></div>
        <h3>LLAMENOS : <span>023810723 - 0981815029</span></h3>
      </div>
    </div>
  </div>
</section>
<!-- Call End -->

<!-- Property start from here -->
<section class="at-property-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="at-sec-title at-sec-title-left">
          <h2>Nuevos <span>Proyectos</span></h2>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <p>Entendemos que trabajamos por ayudar a cumplir con el sueño de miles de familias de obtener su primera casa. </p>
        </div>
      </div>
    </div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow">
          <div class="at-property-img">
            <img src="assets/images/property/1.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4>For Sale</h4>
            <h5>$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-250">
          <div class="at-property-img">
            <img src="assets/images/property/2.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4 class="at-bg-black">For Rent</h4>
            <h5 class="at-bg-black">$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
          <div class="at-property-img">
            <img src="assets/images/property/3.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4>For Sale</h4>
            <h5>$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/property/4.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4 class="at-bg-black">For Rent</h4>
            <h5 class="at-bg-black">$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1000">
          <div class="at-property-img">
            <img src="assets/images/property/5.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4>For Sale</h4>
            <h5>$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="assets/images/property/6.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4 class="at-bg-black">For Rent</h4>
            <h5 class="at-bg-black">$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="text-center"><a class="btn btn-default hvr-bounce-to-right" href="properties-col-3.html" role="button">More Properties</a>
      </div>
    </div>
  </div>
</section>
<!-- Property End -->

<!-- Newsletter start from here -->
<section class="at-newsletter-sec jarallax at-over-layer-black">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>SUSCRIBIRSE AL  <span>BOLETÍN</span></h2>
        <p>Entérate de nuestras opciones de financiamento y reserva la casa que más te guste ¡AHORA!</p>
        <form class="input-group">
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Enter Your Email">
          </div>
          <span class="input-group-btn">
                          <button class="btn btn-default at-sub-btn hvr-bounce-to-right" type="submit">
                            SUSCRIBIRSE
                          </button>
                        </span>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter end -->

<!-- Brand start from here -->
<section class="at-brand-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="brand-carousel" data-slick='{"slidesToShow": 6, "slidesToScroll": 1}'>
          <div class="item"  class="col-md-2">
            <a href="#"><img src="assets/images/brand/1.jpg" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a href="#"><img src="assets/images/brand/2.jpg" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a href="#"><img src="assets/images/brand/3.jpg" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a href="#"><img src="assets/images/brand/4.jpg" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a href="#"><img src="assets/images/brand/5.jpg" alt="">
            </a>
          </div>
          <div class="item"  class="col-md-2">
            <a href="#"><img src="assets/images/brand/6.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Brand End -->