
<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Sobre Nosotros</h2>
          <p><a href="index-one.html">Inicio</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Sobre Nosotros</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="assets/images/title.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->
<!-- Services start from here -->
<section class="at-service-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="at-service-content">
          <h2>Grupo Empresarial<br> <span>Pueblo Blanco</span></h2>
          <p>"Somos un equipo de personas comprometidas con el florecimiento humano".</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="at-service-content">
          <img src="assets/images/service.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-eye"></i>
          </div>
          <h4>Visión</h4>
          <p>Conformar una organización estable que brinde oportunidades de acceso de vivienda para las familias latinoamericanas.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-notebook"></i>
          </div>
          <h4>Misión</h4>
          <p>Generar oportunidades, para que personas de clase media adquieran su vivienda propia, al mejor precio del mercado, con excelentes instalaciones y comodidad. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-plus"></i>
          </div>
          <h4>Objetivo</h4>
          <p>Contribuir al desarrollo integral de las personas que conforman nuestro público interno así como externo. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div align="center">
    <iframe width="606" height="341" src="https://www.youtube.com/embed/086AUPX0DRE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>
  </div>
</section>

<!-- Services End -->
<app-boletin></app-boletin>