<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Clientes</h2>
          <p><a href="index-one.html">Inicio</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Clientes</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->

<!-- Contact Start from here -->
<section class="at-contact-sec">
  <div class="container">
    <h2>Cotice con su Francia preferida</h2><br>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-contact-form at-col-default-mar">
          <div id="form-messages"></div>
          <form id="ajax-contact" method="post" action="php/contact.php">
            <select class="form-control">
              <option>Seleccione Francia</option>
              <option value="1">MYKASA</option>
              <option value="2">ZION INMOBILIARIA</option>
              <option value="3">QUICK HOME</option>
              <option value="3">PUEBLO BLANCO</option>
              <option value="3">DATA NERD</option>
            </select>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombres" required>
            <input type="text" class="form-control" id="cedula" name="cedula" placeholder="C.I/Ruc:" required>
            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Teléfono Convencional" required>
            <input type="number" class="form-control" id="celular" name="celular" placeholder="Teléfono Celular" required>
            <select class="form-control">
              <option value="0" selected>Interés de vivienda</option>
              <option value="1">Casa</option>
              <option value="2">Departamento</option>
              <option value="3">Terrerno</option>
            </select>
            <select class="form-control">
              <option value="0" selected>Sector</option>
              <option value="1">Norte</option>
              <option value="2">Centro</option>
              <option value="3">Sur</option>
              <option value="3">Valle de los Chillos</option>
              <option value="3">Cumbaya</option>
              <option value="3">Otros</option>
            </select>
            <select class="form-control">
              <option value="0" selected>Costo entre</option>
              <option value="1">30000 - 70000</option>
              <option value="2">70000 - 100000</option>
              <option value="3">100000 - 1500000</option>
              <option value="3">mas de 1500000</option>
            </select>
            <br>

            <button class="btn btn-default hvr-bounce-to-right" type="submit">Enviar Mensaje</button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="at-info-box at-col-default-mar">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>info@puebloblanco.org</p>
        </div>
        <div class="at-info-box at-col-default-mar">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p>02 - 38 10 723 <br>
            Ventas: ext. 111</p>
        </div>
        <div class="at-info-box at-col-default-mar">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>Puente 3 - Abel Gilbert S/N y Sebastián de Benalcázar.
            <br>
            La Armenia, Valle de los Chillos, Quito</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Contact end-->