<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Proyectos</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->
<!-- Property start from here -->
<section class="at-property-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="at-sec-title at-sec-title-left">
          <h2>VERDE NOVA - <span>LEGAZPI</span></h2>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <p> es un hermoso proyecto inmobiliario
            que se encuentra en una zona privilegiada del
            Valle de los Chillos. Su ubicación le permite
            estar cerca de la zona comercial como: San Luis Shopping,
            River Mall, Hipermarket, entre otros. <br>

            También se ubican varios centros
            educativos como el Liceo del Valle,
            el Colegio Educar y la ESPE. <br>

            DETALLES DE LA VIVIENDA: 108m2 cubiertos y 45m2 de garaje y patio.
            3 plantas, 3 baños completos, 3 dormitorios más estudio/sala tv.
            - PLANTA BAJA: sala, comedor, cocina, baño completo, patio/parqueadero
            - SEGUNDA PLANTA: dos habitaciones, estudio/sala tv y baño completo
            - TERCERA PLANTA: habitación máster, de 36m2, walking clóset y baño completo </p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="assets/images/legazpi/logo.png" alt="" style="width: 300px; height: 150px">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow">
          <div class="at-property-img">
            <img src="assets/images/legazpi/1.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-250">
          <div class="at-property-img">
            <img src="assets/images/legazpi/2.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
          <div class="at-property-img">
            <img src="assets/images/legazpi/3.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4>En Venta</h4>
            <h5>$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/legazpi/4.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/legazpi/5.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/legazpi/6.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/legazpi/7.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="assets/images/legazpi/8.jpg" alt="" style="width: 400px; height: 250px">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" routerLink="/contact" role="button">Contactanos</a>
            <h4 class="at-bg-black">EN VENTA</h4>
            <h5 class="at-bg-black">$69,900</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 3.500m2 de áreas verdes</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">VIVIENDA 108m2</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sangolquí - Av. Atahualpa y Zozoranga, Lote #2
              Camino hacia el mirador de Jatumpungo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Property End -->
<app-boletin></app-boletin>
